<%# Partial template for rendering a single event item %>
    <li class="list-group-item" id="event_<%= event.id %>">
        <div class="listing-element" role="group" aria-label="<%= event.title %>, <%= event.date_display %>">
            <div class="row">

                <div class="listing-element__preimg-block col-md-2">
                    <a href="rsvp.html?id=<%= event.id %>"
                        aria-label="Event banner. <%= event.title %>. <%= event.date_display %>. <%= event.location %>. Opens the event page."
                        data-a11y="a01">
                        <img src="<%= event.image %>" onerror="this.onerror=null;this.src='images/listing-default.png';"
                            style="padding: 3px;" alt="Banner for <%= event.title %>. <%= event.date_display %>.">
                    </a>
                    <% if (event.badges && event.badges.includes('FREE')) { %>
                        <div class="img-label">FREE</div>
                        <% } else { %>
                            <div class="img-label"></div>
                            <% } %>
                </div>

                <div class="listing-element__title-block col-md-8">
                    <div class="media">
                        <div class="media-body" style="padding-left: 4px;">
                            <h3 class="media-heading header-cg--h4">
                                <a href="rsvp.html?id=<%= event.id %>" aria-label="<%= event.title %>"
                                    aria-description="Event link. <%= event.aria_description || event.title %>">
                                    <%= event.title %>
                                </a>
                                <% if (event.badges && event.badges.includes('Live')) { %>
                                    <span class="badge badge-danger" style="text-transform: uppercase;">Live</span>
                                    <% } %>
                                        <% if (event.badges && event.badges.includes('Hybrid')) { %>
                                            <span class="badge badge-info"
                                                style="text-transform: uppercase;">Hybrid</span>
                                            <% } %>
                            </h3>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-5 col-lg-5">
                                    <div class="media-heading" style="display: inline-block; vertical-align: top;"
                                        aria-label="Event date">
                                        <span class="grey-element mdi mdi-clock aria-decorative" aria-hidden="true"
                                            role="presentation"></span>
                                    </div>
                                    <div class="media-heading" style="display:inline-block;width: calc(100% - 25px);">
                                        <div style="display: inline-block;">
                                            <% if (event.date_line1) { %>
                                                <p style="margin:0;">
                                                    <%= event.date_line1 %>
                                                </p>
                                                <% } %>
                                                    <% if (event.date_line2) { %>
                                                        <p style="margin:0;">
                                                            <%= event.date_line2 %>
                                                        </p>
                                                        <% } %>
                                                            <%= event.timezone %>
                                        </div>
                                        <% if (event.repeat_info) { %>
                                            <div>(This Event will be Repeated <%= event.repeat_info %>)</div>
                                            <% } %>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <p class="h5 media-heading" style="line-height: 1.4;"></p>
                                    <% if (event.location) { %>
                                        <div style="display: inline-block; vertical-align: top;"
                                            aria-label="Event location">
                                            <span class="grey-element mdi mdi-map-marker aria-decorative"
                                                aria-hidden="true" role="presentation"></span>
                                        </div>
                                        <%= event.location %>
                                            <% } %>
                                                <p></p>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <p style="margin-bottom:5px"
                                        class="h5 media-heading event_display<%= event.attendees %>">
                                        <span class="grey-element mdi mdi-account aria-decorative" aria-hidden="true"
                                            role="presentation"></span>
                                        <%= event.attendees %> going
                                    </p>
                                </div>
                            </div>

                            <% if (event.tags && event.tags.length> 0) { %>
                                <div role="group"
                                    aria-label="Event Tags. Click on or select a tag to reload the page and filter on the associated tag type">
                                    <p class="rsvp__event-tags">
                                        <% event.tags.forEach(function(tag) { %>
                                            <a href="/events?topic_tags=<%= encodeURIComponent(tag) %>&show=upcoming"
                                                role="button" aria-label="<%= tag %>"
                                                aria-description="List all events filtered by <%= tag %>">
                                                <span class="label label-default label-tag" style="margin-right:5px"
                                                    data-ccr="ok">
                                                    <span style="word-break: break-all;">
                                                        <%= tag %>
                                                    </span>
                                                </span>
                                            </a>
                                            <% }); %>
                                    </p>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>

                <div class="listing-element__btn-block col-md-2" data-z="events.cp01">
                    <a class="btn btn-cg--event" href="rsvp.html?id=<%= event.id %>" role="button" aria-label="View"
                        aria-description="<%= event.aria_description || event.title %>" data-a11y="a01">
                        <span class="mdi mdi-open-in-new aria-decorative" aria-hidden="true" role="presentation"></span>
                        View
                    </a>
                    <% if (event.organizer) { %>
                        <p class="h6 grey-element">
                            <%= event.organizer %>
                        </p>
                        <% } %>
                </div>
            </div>
        </div>
    </li>